<div id="articles-table">
    <table class="table-fixed bg-[#FEF9F5]">
        <tbody class="divide-y">
            {% for article  in articles %}
                <tr>
                    <td class="p-2">
                        <p class="font-bold text-lg text-[#062962]">
                            <a href="{{ article.url }}">{{ article.headline }}</a>
                        </p>
                        <p class="text-slate-700">{{ article.teaser }}</p>
                        <p class="text-sm italic text-slate-500 mt-4 ">
                            {{ article.author }} <span class="regular">| {{ article.published }}</span>
                        </p>
                    </td>
                    {% if article.has_analysis %}
                        <td class="p-2">
                            <span class="material-symbols-outlined text-green-500">check_circle</span>
                        </td>
                    {% else %}
                        <td class="p-2">
                            <span class="material-symbols-outlined text-red-500">do_not_disturb_on</span>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
