<div class="flex flex-col">
    <div class="p-2">Total articles: {{ count }}</div>
    <div class="p-2">
        {% set pages = (count + 4) // 5 %}
        {% for page in range(pages) %}
            {% set skip = (page+1)*5-5 %}
            <span class="cursor-pointer p-1 bg-slate-200 hover:bg-slate-300">
                <a hx-get="?limit=5&skip={{ skip }}"
                   hx-target="#articles-table"
                   hx-swap="innerHTML"
                   hx-indicator="dots">{{ page + 1 }}</a></span>
        {% endfor %}
    </div>
</div>
