<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet"
              href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
        <!-- <script src="/src/js/htmx.min.js"></script> -->
        <script src="https://unpkg.com/htmx.org@1.9.12"
                integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2"
                crossorigin="anonymous"></script>
        <script src="https://cdn.tailwindcss.com"></script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}MediaVocabulary{% endblock %}
        </title>
    </head>
    <body class="bg-[#e0dcd9]" hx-boost="true">
        {% include "layout/partials/header.html" %}
        <main>
            {% block content %}No content{% endblock %}
        </main>
        {% include 'layout/partials/footer.html' %}
    </body>
</html>
